@font-face {
  font-family:'SFProDisplay-Medium';
  src:font-url('SFProDisplay-Medium.eot');
  src:font-url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype');
  src:font-url('SFProDisplay-Medium.ttf') format('truetype');
  src:font-url('SFProDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family:'SFProDisplay-Bold';
  src:font-url('SFProDisplay-Bold.eot');
  src:font-url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype');
  src:font-url('SFProDisplay-Bold.ttf') format('truetype');
  src:font-url('SFProDisplay-Bold.woff') format('woff');
}
